.cardList {
    margin-bottom: 10px;
    background-color: aliceblue;
}

.contenedorCard {
    display: flex;
    justify-content: space-between;
}

.tituloLista {
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding: 15px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.divLista {
    padding: 0px 40px 10px 40px;
    margin-bottom: 10px;
}